@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --background: oklch(0.982 0.002 247.839);
  --subtle: oklch(0.911 0.007 247.901);
  --muted: oklch(0.591 0.026 250.237);
  --default: oklch(0.505 0.022 248.265);
  --strong: oklch(0.345 0.013 248.212);
  --foreground: oklch(0.211 0.009 240.319);

  --success: oklch(0.51 0.065 162.564);
  --warning: oklch(0.67 0.132 79.111);
  --error: oklch(0.498 0.165 28.937);

}

@theme {
  --font-sans: "Manrope", system-ui, sans-serif;

  /* Colors */
  --color-background: var(--background);
  --color-subtle: var(--subtle);
  --color-muted: var(--muted);
  --color-default: var(--default);
  --color-strong: var(--strong);
  --color-foreground: var(--foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);


  /* H1 */
  --text-h1: 1.424rem;
  --text-h1-line-height: 1.4375rem;

  /* H2 */
  --text-h2: 1.266rem;
  --text-h2-line-height: 1.25rem;

  /* H3 */
  --text-h3: 1.125rem;
  --text-h3-line-height: 1.125rem;

  /* Body */
  --text-body: 1rem;
  --text-body-line-height: 1rem;

  /* Caption */
  --text-caption: 0.889rem;
  --text-caption-line-height: 0.875rem;

  /* Fine Print */
  --text-fine-base: 0.79rem;
  --text-fine-base-line-height: 0.8125rem;

  /* Layout Spacing */
  --spacing-page-mobile: 1rem;
  --spacing-page-tablet: 1.5rem;
  --spacing-page-desktop: 2rem;

  --spacing-grid-mobile: 1rem;
  --spacing-grid-tablet: 1.25rem;
  --spacing-grid-desktop: 1.5rem;
}

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: var(--font-sans);
    @apply font-sans;
  }

  body {
    min-height: 100vh;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  #root {
    min-height: 100vh;
  }

}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
